# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code and Rider
.vscode/
.idea/

# Logs
*.log

# Packages
*.nupkg
*.snupkg
packages/
.vs/
# Test results
TestResults/

# Configuration
appsettings.Development.json
appsettings.Local.json
secrets.json

# Others
.env
.env.local
*.db